<nav class="navbar bg-body-tertiary header p-0">
  <div class="container-fluid">
    <a class="navbar-brand col" routerLink="/dashboard"
      ><img src="assets/images/logo.png" width="15%" alt=""
    /></a>
    <form class="d-flex col justify-content-end" role="search">
      <input
      #deviceNameTriggerInput
        class="form-control me-2 w-auto"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (input)="
        filterItem(deviceNameTriggerInput.value)
      "
      />

      <!-- <button class="btn">
        <img src="assets/images/dots.svg" alt="" />
      </button> -->
      <!-- <button class="btn btn-outline-light">Sign In</button> -->
    </form>
  </div>
</nav>
