<nav class="navbar bg-body-tertiary header">
  <div class="container-fluid">
    <a class="navbar-brand col"
      ><img src="assets/images/logo.svg" alt=""
    /></a>
    <form class="d-flex col justify-content-end" role="search">
      <input
        class="form-control me-2 w-auto"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />

      <!-- <button class="btn">
        <img src="assets/images/dots.svg" alt="" />
      </button> -->
      <button class="btn btn-outline-light">Sign In</button>
    </form>
  </div>
</nav>
