<div class="container-fluid">
  <div class="row">
    <div class="sidebar d-none d-md-block">
      <div class="card">
        <div class="card-body">
          <!-- Industry -->
          <div class="row">
            <div class="col-md-12">
              <h5 class="card-title d-inline-flex gap-1 w-100">
                <button
                  class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#Industries"
                  aria-expanded="false"
                  aria-controls="Industries"
                >
                  <div>
                    <img src="assets/images/industries.svg" alt="" />
                    Industries
                  </div>
                  <div>
                    <img src="assets/images/down.svg" alt="" />
                  </div>
                </button>
              </h5>
            </div>

            <div class="col-md-12">
              <div class="collapse multi-collapse show" id="Industries">
                <ul class="p-0 mt-3" *ngFor="let Industry of industriesArr">
                  <li>
                    <div class="mb-3 form-check">
                      <input
                      type="checkbox"
                      class="form-check-input"
                      [(ngModel)]="Industry.selected"
                      [checked]="Industry.selected"
                      name="industry"
                      value="{{ Industry.text }}"
                      (click)="onSelectFilter(Industry, 'industry',$event)"
                      />
                      <label class="form-check-label" for="{{Industry['text']}}"
                      >{{Industry.text}}</label
                      >
                    </div>
                  </li>
                  <!-- <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Education"
                      />
                      <label class="form-check-label" for="Education"
                        >Education</label
                      >
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Finance"
                      />
                      <label class="form-check-label" for="Finance"
                        >Finance</label
                      >
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Goverment"
                      />
                      <label class="form-check-label" for="Goverment"
                        >Goverment</label
                      >
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Health Care and life Science"
                      />
                      <label
                        class="form-check-label"
                        for="Health Care and life Science"
                        >Health Care and life Science</label
                      >
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <!-- Platforms -->
          <div class="row">
            <div class="col-md-12">
              <h5 class="card-title d-inline-flex gap-1 w-100">
                <button
                  class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#Platforms"
                  aria-expanded="false"
                  aria-controls="Platforms"
                >
                  <div>
                    <img src="assets/images/platforms.svg" alt="" />
                    Platforms
                  </div>
                  <div>
                    <img src="assets/images/down.svg" alt="" />
                  </div>
                </button>
              </h5>
            </div>

            <div class="col-md-12">
              <div class="collapse multi-collapse show" id="Platforms">
                <ul class="p-0 mt-3" *ngFor="let platform of platformsArr">
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="{{platform['text']}}"
                        [(ngModel)]="platform.selected"
                        [checked]="platform.selected"
                        name="platform"
                        value="{{ platform.text }}"
                        (click)="onSelectFilter(platform, 'platform',$event)"
                      />
                      <label class="form-check-label" for="{{platform['text']}}">{{platform['text']}}</label>
                    </div>
                  </li>
                  <!-- <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Mobile_App"
                      />
                      <label class="form-check-label" for="Mobile_App"
                        >Mobile App</label
                      >
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Web"
                      />
                      <label class="form-check-label" for="Web">Web</label>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <!-- Price -->
          <div class="row">
            <div class="col-md-12">
              <h5 class="card-title d-inline-flex gap-1 w-100">
                <button
                  class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#Price"
                  aria-expanded="false"
                  aria-controls="Price"
                >
                  <div>
                    <img src="assets/images/price.svg" alt="" />
                    Price
                  </div>
                  <div>
                    <img src="assets/images/down.svg" alt="" />
                  </div>
                </button>
              </h5>
            </div>

            <div class="col-md-12">
              <div class="collapse multi-collapse show" id="Price">
                <ul class="p-0 mt-3" *ngFor="let price of priceArr">
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="{{price['text']}}"
                        [(ngModel)]="price.selected"
                        [checked]="price.selected"
                        name="price"
                        value="{{ price.text }}"
                        (click)="onSelectFilter(price, 'price',$event)"
                      />
                      <label class="form-check-label" for="{{price['text']}}"
                        >{{price['text']}}</label
                      >
                    </div>
                  </li>
                  <!-- <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Free"
                      />
                      <label class="form-check-label" for="Free"
                        >Free</label
                      >
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Paid"
                      />
                      <label class="form-check-label" for="Paid"
                        >Paid
                      </label>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <!-- App Type -->
          <div class="row">
            <div class="col-md-12">
              <h5 class="card-title d-inline-flex gap-1 w-100">
                <button
                  class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#App_Type"
                  aria-expanded="false"
                  aria-controls="App_Type"
                >
                  <div>
                    <img src="assets/images/app_type.svg" alt="" />
                    App Type
                  </div>
                  <div>
                    <img src="assets/images/down.svg" alt="" />
                  </div>
                </button>
              </h5>
            </div>

            <div class="col-md-12">
              <div class="collapse multi-collapse show" id="App_Type">
                <ul class="p-0 mt-3" *ngFor="let apptype of appTypeArr">
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="{{apptype['text']}}"
                        [(ngModel)]="apptype.selected"
                        [checked]="apptype.selected"
                        name="apptype"
                        value="{{ apptype.text }}"
                        (click)="onSelectFilter(apptype, 'apptype',$event)"
                      />
                      <label class="form-check-label" for="{{apptype['text']}}"
                        >{{apptype['text']}}</label
                      >
                    </div>
                  </li>
                  <!-- <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Servicenow_offer"
                      />
                      <label class="form-check-label" for="Servicenow_offer"
                        >Built with Servicenow offer..</label
                      >
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Servicenow_Solution"
                      />
                      <label
                        class="form-check-label"
                        for="Servicenow_Solution"
                        >Built with Servicenow Solut..
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Templates"
                      />
                      <label class="form-check-label" for="Templates"
                        >Templates
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="OEM_Solution"
                      />
                      <label class="form-check-label" for="OEM_Solution"
                        >OEM Solution
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Ancillary_Software"
                      />
                      <label
                        class="form-check-label"
                        for="Ancillary_Software"
                        >Ancillary Software
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="Content"
                      />
                      <label class="form-check-label" for="Content"
                        >Content
                      </label>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <!-- partners -->
          <div class="row">
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/business.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/prime_insight.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/timeiconic.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/CEOmagzine.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/startUP.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/enterprise_world.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/leaders_globe.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/CEO_story.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/issuu.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-6 mb-2">
              <img
                src="assets/images/business_fame.svg"
                alt=""
                class="w-100 bg-white"
              />
            </div>
            <div class="col-md-4 col-4 mb-2">
              <img src="assets/images/14year.svg" alt="" class="w-100" />
            </div>
            <div class="col-md-4 col-4 mb-2">
              <img src="assets/images/iso27001.svg" alt="" class="w-100" />
            </div>
            <div class="col-md-4 col-4 mb-2">
              <img src="assets/images/iso9001.svg" alt="" class="w-100" />
            </div>
            <div class="col-md-4 col-4 mb-2">
              <img src="assets/images/companies.svg" alt="" class="w-100" />
            </div>
            <div class="col-md-4 col-4 mb-2">
              <img src="assets/images/boss.svg" alt="" class="w-100" />
            </div>
            <div class="col-md-4 col-4 mb-2">
              <img src="assets/images/iso.svg" alt="" class="w-100" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-12">
      <div class="row">
        <div class="col-md-12 text-end">
          <!-- mobile filter start -->
          <div class="filter d-md-none">
            <button
              class="btn btn-outline-primary"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#Filetr"
              aria-controls="Filetr"
            >
              <img src="assets/images/filter.svg" alt="" />
            </button>

            <div
              class="offcanvas offcanvas-end"
              tabindex="-1"
              id="Filetr"
              aria-labelledby="FiletrLabel"
            >
              <div class="offcanvas-body p-0">
                <div class="sidebar d-block d-md-none">
                  <div class="card">
                    <div class="card-body">
                      <!-- Industry -->
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="card-title d-inline-flex gap-1 w-100">
                            <button
                              class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#Industries"
                              aria-expanded="false"
                              aria-controls="Industries"
                            >
                              <div>
                                <img
                                  src="assets/images/industries.svg"
                                  alt=""
                                />
                                Industries
                              </div>
                              <div>
                                <img src="assets/images/down.svg" alt="" />
                              </div>
                            </button>
                          </h5>
                        </div>

                        <div class="col-md-12">
                          <div
                            class="collapse multi-collapse show"
                            id="Industries"
                          >
                          <ul class="p-0 mt-3" *ngFor="let Industry of industriesArr">
                            <li>
                              <div class="mb-3 form-check">
                                <input
                                  type="checkbox"
                                  class="form-check-input"
                                  [(ngModel)]="Industry.selected"
                                  [checked]="Industry.selected"
                                  name="industry"
                                  value="{{ Industry.text }}"
                                  (click)="onSelectFilter(Industry, 'industry',$event)"
                                  />
                                <label class="form-check-label" for="{{Industry['text']}}"
                                  >{{Industry.text}}</label
                                >
                              </div>
                            </li>
                              <!-- <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Education"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Education"
                                    >Education</label
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Finance"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Finance"
                                    >Finance</label
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Goverment"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Goverment"
                                    >Goverment</label
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Health Care and life Science"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Health Care and life Science"
                                    >Health Care and life Science</label
                                  >
                                </div>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Platforms -->
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="card-title d-inline-flex gap-1 w-100">
                            <button
                              class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#Platforms"
                              aria-expanded="false"
                              aria-controls="Platforms"
                            >
                              <div>
                                <img
                                  src="assets/images/platforms.svg"
                                  alt=""
                                />
                                Platforms
                              </div>
                              <div>
                                <img src="assets/images/down.svg" alt="" />
                              </div>
                            </button>
                          </h5>
                        </div>

                        <div class="col-md-12">
                          <div
                            class="collapse multi-collapse show"
                            id="Platforms"
                          >
                          <ul class="p-0 mt-3" *ngFor="let platform of platformsArr">
                            <li>
                              <div class="mb-3 form-check">
                                <input
                                  type="checkbox"
                                  class="form-check-input"
                                  id="{{platform['text']}}"
                                  [(ngModel)]="platform.selected"
                                  [checked]="platform.selected"
                                  name="platform"
                                  value="{{ platform.text }}"
                                  (click)="onSelectFilter(platform, 'platform',$event)"
                                />
                                <label class="form-check-label" for="{{platform['text']}}">{{platform['text']}}</label>
                              </div>
                            </li>
                              <!-- <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Mobile_App"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Mobile_App"
                                    >Mobile App</label
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Web"
                                  />
                                  <label class="form-check-label" for="Web"
                                    >Web</label
                                  >
                                </div>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Price -->
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="card-title d-inline-flex gap-1 w-100">
                            <button
                              class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#Price"
                              aria-expanded="false"
                              aria-controls="Price"
                            >
                              <div>
                                <img src="assets/images/price.svg" alt="" />
                                Price
                              </div>
                              <div>
                                <img src="assets/images/down.svg" alt="" />
                              </div>
                            </button>
                          </h5>
                        </div>

                        <div class="col-md-12">
                          <div
                            class="collapse multi-collapse show"
                            id="Price"
                          >
                          <ul class="p-0 mt-3" *ngFor="let price of priceArr">
                            <li>
                              <div class="mb-3 form-check">
                                <input
                                  type="checkbox"
                                  class="form-check-input"
                                  id="{{price['text']}}"
                                  [(ngModel)]="price.selected"
                                  [checked]="price.selected"
                                  name="price"
                                  value="{{ price.text }}"
                                  (click)="onSelectFilter(price, 'price',$event)"
                                />
                                <label class="form-check-label" for="{{price['text']}}"
                                  >{{price['text']}}</label
                                >
                              </div>
                            </li>
                              <!-- <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Free"
                                  />
                                  <label class="form-check-label" for="Free"
                                    >Free</label
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Paid"
                                  />
                                  <label class="form-check-label" for="Paid"
                                    >Paid
                                  </label>
                                </div>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- App Type -->
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="card-title d-inline-flex gap-1 w-100">
                            <button
                              class="btn p-0 d-flex align-items-md-center justify-content-between w-100"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#App_Type"
                              aria-expanded="false"
                              aria-controls="App_Type"
                            >
                              <div>
                                <img
                                  src="assets/images/app_type.svg"
                                  alt=""
                                />
                                App Type
                              </div>
                              <div>
                                <img src="assets/images/down.svg" alt="" />
                              </div>
                            </button>
                          </h5>
                        </div>

                        <div class="col-md-12">
                          <div
                            class="collapse multi-collapse show"
                            id="App_Type"
                          >
                          <ul class="p-0 mt-3" *ngFor="let apptype of appTypeArr">
                            <li>
                              <div class="mb-3 form-check">
                                <input
                                  type="checkbox"
                                  class="form-check-input"
                                  id="{{apptype['text']}}"
                                  [(ngModel)]="apptype.selected"
                                  [checked]="apptype.selected"
                                  name="apptype"
                                  value="{{ apptype.text }}"
                                  (click)="onSelectFilter(apptype, 'apptype',$event)"
                                />
                                <label class="form-check-label" for="{{apptype['text']}}"
                                  >{{apptype['text']}}</label
                                >
                              </div>
                            </li>
                              <!-- <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Servicenow_offer"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Servicenow_offer"
                                    >Built with Servicenow offer..</label
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Servicenow_Solution"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Servicenow_Solution"
                                    >Built with Servicenow Solut..
                                  </label>
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Templates"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Templates"
                                    >Templates
                                  </label>
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="OEM_Solution"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="OEM_Solution"
                                    >OEM Solution
                                  </label>
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Ancillary_Software"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Ancillary_Software"
                                    >Ancillary Software
                                  </label>
                                </div>
                              </li>
                              <li>
                                <div class="mb-3 form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="Content"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="Content"
                                    >Content
                                  </label>
                                </div>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- partners -->
                      <div class="row">
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/business.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/prime_insight.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/timeiconic.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/CEOmagzine.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/startUP.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/enterprise_world.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/leaders_globe.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/CEO_story.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/issuu.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-6 col-6 mb-2">
                          <img
                            src="assets/images/business_fame.svg"
                            alt=""
                            class="w-100 bg-white"
                          />
                        </div>
                        <div class="col-md-4 col-4 mb-2">
                          <img
                            src="assets/images/14year.svg"
                            alt=""
                            class="w-100"
                          />
                        </div>
                        <div class="col-md-4 col-4 mb-2">
                          <img
                            src="assets/images/iso27001.svg"
                            alt=""
                            class="w-100"
                          />
                        </div>
                        <div class="col-md-4 col-4 mb-2">
                          <img
                            src="assets/images/iso9001.svg"
                            alt=""
                            class="w-100"
                          />
                        </div>
                        <div class="col-md-4 col-4 mb-2">
                          <img
                            src="assets/images/companies.svg"
                            alt=""
                            class="w-100"
                          />
                        </div>
                        <div class="col-md-4 col-4 mb-2">
                          <img
                            src="assets/images/boss.svg"
                            alt=""
                            class="w-100"
                          />
                        </div>
                        <div class="col-md-4 col-4 mb-2">
                          <img
                            src="assets/images/iso.svg"
                            alt=""
                            class="w-100"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- mobile filter end -->
        </div>
    </div>
  </div>
</div>
