@media (max-width: 1521px) {
  .starsRate {
    margin: -44px 0 0 0px !important;
  }
  .breadcrumb-virtical {
    left: -22px;
    top: -48px;
  }
  .appName{
     width: 18ch !important;
            
   }
   .card_section .card .card-body p {
          width: 38ch;
      }
    
}

@media (max-width: 1441px) {
  .starsRate {
    margin: -44px 0 0 110px !important;
  }
  .breadcrumb-virtical {
    left: -22px;
    top: -48px;
  }
  .card_section .card .card-body p {
  width: 38ch;
  }
  .card_section .card .card-body h5, .card_section h5 {
    font-size: 13px;
  }
}
@media (max-width: 1367px) {
  .starsRate {
    margin: -44px 0 0 100px !important;
  }
  .breadcrumb-virtical {
    left: -23px;
    top: -48px;
  }
  .vertical-breadcrumb {
     height: 200%;
  }
  .card_section .card .card-body p {
    font-weight: 400;
    line-height: 20px;
    width: 36ch;
   }
   #banner h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  #banner p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  #banner img {
    width: 75%;
  }
  #banner a img {
    width: 10%;
  }
}

@media (max-width: 1025px) {
  .starsRate {
    margin: -44px 0 0 330px !important;
  }

  #banner h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  #banner p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  #banner img {
    width: 75%;
  }
  #banner a img {
    width: 10%;
  }
  .breadcrumb-virtical {
    left: -13px;
    top: -48px;
  }
  .card_section .card .card-body p {
    width: 24ch;
}
}
@media (max-width: 769px) {
  .starsRate {
    margin: 0 !important;
  }
  .titleTxt {
    margin-left: 0px !important;
  }
  #banner h1 {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  #banner p {
    font-size: 12px;
  }
  #banner img {
    width: 75%;
  }

  #banner a img {
    width: 10%;
  }
  .breadcrumb-virtical {
    left: 0;
    top: -48px;
  }
}

@media (max-height: 520px) {
  .h-banner {
    height: 250px;
  }
}
@media (max-width: 426px) {
  .titleTxt {
    margin-left: 0 !important;
  }
  #banner {
    height: auto;
  }
  #banner h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
  }

  #banner p {
    font-size: 12px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightwhite);
  }
  #banner .carousel-indicators {
    bottom: 0;
  }
  .filter {
    z-index: 9;
    position: relative;
  }

  .filter .offcanvas.offcanvas-end {
    background-color: transparent !important;
    width: auto;
    border: none;
  }
}

@media (max-height: 300px) {
  .h-banner {
    height: 120px;
  }
}
