:root,
[data-bs-theme="light"] {
  --color-white: #ffffff;
  --color-lightwhite: #fbfbfb;
  --color-lightblue: #a8c7e4;
  --color-purple: #7e7fe3;
  --color-yellow: #eab913;
  --color-black: #1c2a3a;
  --color-lightblack: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Inter";
  color: var(--color-black);
}

.header {
  background-color: var(--color-lightblue) !important;
}

.header input {
  background-color: transparent;
  color: var(--color-white);
  border-radius: 20px;
}
.header input:focus {
  background-color: transparent;
  color: var(--color-white);
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  border-color: var(--color-white);
}

.header input::placeholder {
  color: var(--color-white);
}

#banner {
  background-image: url(../images/banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  color: var(--color-white);
}
#banner h1 {
  font-size: 39px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

#banner h1 span {
  color: var(--color-yellow);
}
#banner p {
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-lightwhite);
  /* width: 532.83px; */
}
#banner .carousel-control-next,
#banner .carousel-control-prev {
  width: 5%;
}

#banner .carousel-indicators button {
  border: 1px solid;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#banner .carousel-indicators .active {
  background-color: var(--color-black);
}

.bgPurple {
  background-color: var(--color-purple);
}

.navbar.bgPurple a {
  color: var(--color-white);
}
.navbar.bgPurple a.active {
  color: var(--color-yellow);
  border-bottom: 1px solid var(--color-yellow);
}

.wrapper {
  display: flex;
}

.sidebar {
  width: 223px;
  top: 521px;
  left: 20px;
  border-radius: 15px;
  border: 0.3px;
}

.sidebar .card {
  background-image: linear-gradient(0deg, #7dade2ab, #9b82e60a);
}

.sidebar .card .card-body .btn {
  box-shadow: none !important;
  outline: none !important;
  border: 0 !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-black);
}
.sidebar .card .card-body .btn:active {
  box-shadow: none !important;
  outline: none !important;
  border: 0 !important;
}

.sidebar .card .card-body ul {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}

.sidebar .card .card-body ul li label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

/* cards section */
.card_section .card {
  border: none;
  margin: 0.5rem 0;
}
.card_section .card .card-body,
.card_section .card .card-footer {
  /* border-radius: 3.32px; */
  border: 0.2px solid #f7f5fd;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #f7f5fd;
  /* height: 249px; */
}

.card_section .card .card-body img {
  box-shadow: 5px 5px 4px 0px #00000040;
  background-color: var(--color-white);
  padding: 0.25rem !important;
  border-radius: 4.41px;
}

.card_section .card .card-body h5,
.card_section h5 {
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0;
}
.card_section .card .card-body h6,
.card_section .card .card-footer h6,
.card_section h6 {
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}

.card_section .card .card-body p {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
}

.card_section .card .card-footer button {
  border: 1px solid var(--color-purple);
  width: 80%;
}

.starsList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.starsList li img {
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
}

.resourceList {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  padding: 0;
}

footer {
  background-color: var(--color-lightblack);
  margin: 20px 0 0;
  color: var(--color-black);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 0;
}
.txtCount {
  font-weight: bold;
  /* color: #242222; */
  font-size: 14px;
}
.newd-breadcrumb {
  /* white / 20% */
  border-bottom: 1px solid rgba(19, 18, 18, 0.2) !important;
  padding: 0 0 0 10px;
  margin: 10px 3px;
  display: flex;
  justify-content: space-between;
}
.breadcrumb-virtical {
  width: 37px;
  /* height: 100vh; */
  /* left: -29px; */
  position: relative;
  margin-right: 5px;
}
.breadcrumb-item{
  font-weight: 600;
  color: #4e4e4e;
}
.breadcrumb-item::after {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "";
}
