<div class="col-12" *ngIf="comingAppById && !isLoading">
    <div class="row mt-5">
        <ng-container id="txtBox">
            <div class="col-md-8">
                <div class="container-fluid txtBox">
                    <div *ngIf="ApplicationArr.applicationName!==undefined && ApplicationArr.applicationName!==null">
                        <h1 class="titleTxt">
                            {{ApplicationArr.applicationName}}
                            <span class="fontSize">
                                <!-- System -->
                            </span>
                        </h1>

                    </div>
                    <div class="titleTxt mt-5" >
                        <h4> ||
                            <span class="fontDown">
                                6729 Downloads
                            </span> || <button class="btnRate">Rate us</button>

                            <ul class="starsRate">
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="25px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="25px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="25px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="25px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_white.svg" width="25px" alt="" />
                                </li>
                            </ul>

                        </h4>
                    </div>
                    <!-- <div class="titleTxt mt-5">
                        <h4>
                            <span class="rateCount">
                                4.3
                            </span>

                            <ul class="starsListRate">
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="20px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="20px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="20px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_yellow.svg" width="20px" alt="" />
                                </li>
                                <li>
                                    <img src="assets/images/Star_white.svg" width="20px" alt="" />
                                </li>
                            </ul>
                            <span class="">
                                320,40,263
                            </span>
                        </h4>
                        <div class="row progressRate">
                            <div class="col-md-12 ">


                                <div class="performance-list">
                                    <label for="">5:</label>

                                    <div class="progress" id="rate5">
                                        <div class="progress-bar" role="progressbar"
                                            [ngStyle]="{ 'width.%': 80, 'background-color': '#7e7fe3' }"
                                            aria-valuemin="40" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>

                                <div class="performance-list">
                                    <label for="">4:</label>

                                </div>
                                <div class="progress" id="rate4">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width.%': 60, 'background-color': '#7e7fe3' }" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                                <div class="performance-list">
                                    <label for="">3 :</label>

                                </div>
                                <div class="progress" id="rate3">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width.%': 40, 'background-color': '#7e7fe3' }" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                                <div class="performance-list">
                                    <label for="">2 :</label>

                                </div>
                                <div class="progress" id="rate2">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width.%': 20, 'background-color': '#7e7fe3' }" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                                <div class="performance-list">
                                    <label for="">1 :</label>
                                </div>
                                <div class="progress" id="rate1">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width.%': 10, 'background-color': '#7e7fe3' }" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                    </div> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card app-card">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="">
                                <img *ngIf="ApplicationArr.logoPath" src="{{ apiUrl +
                                    '/' + ApplicationArr.logoPath
                                  }}" class="img-fluid rounded-start w-100" style="height: 100px;" alt="..." />
                                <img *ngIf="!ApplicationArr.logoPath" src="../../../../../assets/images/app-logo.png"
                                  class="img-fluid rounded-start w-100"style="height: 100px;" alt="..." />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer btnApp">
                        <div class="row g-0  justify-content-center">
                            <div class="col-md-4 text-center">
                                <button class="btn p-0">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="col-md-12">
            <div class="row">

                <section class="card_section">
                    <div class="row aboutapp">
                        <!-- row 1 -->
                        <div class="col-md-12 mb-5">
                            <h5 class="card-title text-start ml-5 pb-4">About Application <img src="assets/images/arrow_right.svg" alt=""
                              /></h5>
                        </div>
                        <div id="appbanner">
                            <div
                              id="carouselExample"
                              class="carousel slide"
                              style="height: 25vh"
                            >
                              <!-- <div class="carousel-indicators">
                                <button
                                  type="button"
                                  data-bs-target="#carouselExample"
                                  data-bs-slide-to="0"
                                  class="active"
                                  aria-current="true"
                                  aria-label="Slide 1"
                                ></button>
                                <button
                                  type="button"
                                  data-bs-target="#carouselExample"
                                  data-bs-slide-to="1"
                                  aria-label="Slide 2"
                                ></button>
                                <button
                                  type="button"
                                  data-bs-target="#carouselExample"
                                  data-bs-slide-to="2"
                                  aria-label="Slide 3"
                                ></button>
                              </div> -->
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <div class="container-fluid">
                                    <div class="row" >
                                      <div class="col-md-2"*ngFor="let images of ApplicationArr.imagePath">
                                        <div class="container">
                                          <div class="row  g-0 align-items-center">
                                           <div class=" col-12 text-center">
                                              <img
                                                src="{{
                                                    apiUrl+'/' + images.path
                                                  }}"
                                                alt=""
                                                class="w-100"
                                              />
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="carousel-item">
                                  <div class="container-fluid">
                                    <div class="row">
                                      <div class="col-md-4">
                                        <div class="container">
                                          <div class="row align-items-center">
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="container-fluid">
                                    <div class="row">
                                      <div class="col-md-">
                                        <div class="container">
                                          <div class="row align-items-center">
                                        
                                           </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div> -->
                              </div>
                              <button
                                class="carousel-control-prev"
                                type="button"
                                data-bs-target="#carouselExample"
                                data-bs-slide="prev"
                              >
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button
                                class="carousel-control-next"
                                type="button"
                                data-bs-target="#carouselExample"
                                data-bs-slide="next"
                              >
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          </div>




























                        <!-- <div class="container text-center my-3">
                            <div class="row mx-auto my-auto justify-content-center">
                                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel" >
                                    <div class="carousel-inner" role="listbox" >
                                        <div class="carousel-item active">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-img">
                                                        <img  src="{{
                                                            'https://cylsysadminstore.cylsys.com/' 
                                                          }}" class="img-fluid rounded-start"  alt="..." />
                                                    </div>
                                                    <div class="card-img-overlay">Slide 1
                                               
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-img">
                                                        <img src="../../../../../assets/images/AMC1.jpg"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="card-img-overlay">Slide 2</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-img">
                                                        <img src="../../../../../assets/images/AMC1.jpg"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="card-img-overlay">Slide 3</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-img">
                                                        <img src="../../../../../assets/images/AMC1.jpg"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="card-img-overlay">Slide 4</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-img">
                                                        <img src="../../../../../assets/images/AMC1.jpg"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="card-img-overlay">Slide 5</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-img">
                                                        <img src="../../../../../assets/images/AMC1.jpg"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="card-img-overlay">Slide 6</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel"
                                        role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    </a>
                                    <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel"
                                        role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-9 mt-5">
                            <p class="bold">
                               {{ this.ApplicationArr.shortDescription}}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-9 aboutapp">
                            <p class="bold">
                                {{longDescription}}

                            </p>
                        </div>
                    </div>
                </section>






<!-- 
                <div class="container">
                    <div id="dataInfo">
                        <h2>Information</h2>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner row w-100 mx-auto">
                              <div class="carousel-item col-md-4 active">
                                <div class="card">
                                  <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap">
                                  <div class="card-body">
                                    <h4 class="card-title">Card 1</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item col-md-4">
                                <div class="card">
                                  
                                  <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap"><div class="card-body">
                                    <h4 class="card-title">Card 2</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item col-md-4">
                                <div class="card">
                                  
                                  <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap"><div class="card-body">
                                    <h4 class="card-title">Card 3</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item col-md-4">
                                <div class="card">
                                  
                                  <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap"><div class="card-body">
                                    <h4 class="card-title">Card 4</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item col-md-4">
                                <div class="card">
                                 
                                  <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap"> <div class="card-body">
                                    <h4 class="card-title">Card 5</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item col-md-4">
                                <div class="card">
                                  
                                  <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap"><div class="card-body">
                                    <h4 class="card-title">Card 6</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item col-md-4">
                                <div class="card">
                                  
                                  <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap"><div class="card-body">
                                    <h4 class="card-title">Card 7</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                  
                    </div>
                  
                  
                  </div> -->
                  


                
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="isLoading">
  <table class="table pvb-table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="10">
          <br>
          <br>
          <br>
          <div class="no_data fetch_data">
            <img src="../../../../../assets/images/fetchingdata.svg" alt="" width="150px" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>